.panel-group#g-wt-homedir-passman
  .panel.panel-default
    .panel-heading
      .panel-title WholeTale Home Directory Password Management
      .panel-body
        form#g-wt-homedir-passman.g-wt-homedir-passman-form(role="form")
          .g-pm-form-container
            h4 Generate random password
            p.
              Generates a random password to use when mounting the WholeTale home directory
              through WebDAV. The password is not stored directly and cannot be recovered
              if lost.
            .form-group
              input#g-pm-gpassword.form-control.input-sm(
                type="text", readonly="true", title="Generated password")
              input#g-pm-generate.btn.btn-sm.btn-generate(type="submit", value="Generate Password")
          .g-pm-form-container
            h4 Set your own password
            p.
              Allows you to set a password of your choosing to be used when mounting the
              WholeTale home directory through WebDAV.
            .form-group
              label(for="g-pm-password") Enter password
              input#g-pm-password.form-control.input-sm(
                type="password", title="Type the password you want to use.")
              input#g-pm-set.btn.btn-sm.btn-set(type="submit", value="Set Password")
            p#g-wt-homedir-error-message.g-validation-failed-message()
